@{
    ViewData["Title"] = "Home Page";
}

<div id="fhirImage" class="" style="margin-top:115px;height:92px;width:272px">

    <img alt="Fhir Quick Search" class="pull-right" height="92" id="logo" src="~/images/fhirLogo.png" />

</div>


@using (Html.BeginForm("Search", "QuickSearch", FormMethod.Post, new { @class = "form-inline form-control-lg" }))
{
        <div class="row" style="padding: 25px">
            <input id="search" type="text" name="search"  />
        </div>
        
        <input id="hidden" type="hidden" name="bundle" value="" />
        <div class="row center-block">
            <input id="searchSubmit" class="btn btn-primary" type="submit" value="Search">
        </div>
        

}
    
