@{
    ViewData["Title"] = "Home Page";
}

<div id="fhirImage" class="" style="margin-top:115px;height:92px;width:272px">
    <img  alt="Fhir Quick Search" id="logo" src="~/images/fhirLogo.png" />
</div>

@using (Html.BeginForm("Results", "Search", FormMethod.Post, new { @class = "form-inline form-control-lg" }))
{
        <div class="row" style="padding: 25px">
            <input id="search" type="text" name="search"  />
        </div>
        <div class="row center-block">
            <input id="searchSubmit" class="btn btn-primary" type="submit" value="Search">
        </div>
}

<script type="text/javascript">

    var options = {
        url: function (phrase) {
            var searchValue = "/api/AutoComplete?value=" + phrase;
            return searchValue;
        },
        //listLocation: "entry",
        getValue: function (e) {
            return e.name;
        },
        ajaxSettings: {
            dataType: "json",
            method: "GET",
            data: {
                dataType: "json"
            },
            success: function (data, status, jqXHR) {
            }

        },

        preparePostData: function (data) {
             data.phrase = $("#search").val();
            return data;
        },
        requestDelay: 200
    };

    $("#search").easyAutocomplete(options);


</script>
    
